.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #4b8bbe; /* Change to a sky blue */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #f1f1f1; /* Light color for better contrast */
}

.App-header h2 {
  color: #ffcc00; /* Keeping the same color */
  font-size: calc(6px + 1.2vmin); /* Smaller size */
  margin: 0; /* Remove default margin if necessary */
}

.App-link {
  color: #ffcc00; /* A bright yellow color for links */
  text-decoration: none; /* Remove underline */
  font-weight: bold; /* Make links stand out */
}

.App-link:hover {
  color: #ffa500; /* Orange on hover */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
