.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: navy; /* Change to a sky blue */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(4, 15, 50); /* Light color for better contrast */
}

.App-header h2 {
  color: rgb(17, 43, 158); /* Keeping the same color */
  font-size: calc(6px + 1.2vmin); /* Smaller size */
  margin: 0; /* Remove default margin if necessary */
}

.App-link {
  color: navy;
  text-decoration: none; /* Remove underline */
  font-weight: bold; /* Make links stand out */
}

.App-link:hover {
  color: #ffa500; /* Orange on hover */
}

.App {
  text-align: left; /* Align text to the left */
}

.App-header {
  background-color: rgb(255, 255, 255);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the start (left) */
  justify-content: flex-start; /* Justify content to the start (top) */
  padding: 20px; /* Add padding for spacing */
  font-size: calc(10px + 2vmin);
  color: rgb(138, 27, 27);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
